// Created by Volkan on 23.3.2016.
extends layout

block content
    h1 Search Algorithms
        small   Volkan Coskun
    .row(style="margin-left:10px")
     .col-lg-6
         form(role='form', method="post")
             .form-group
                 label From
                     select.form-control(name='from')
                         option(value='A') A
                         option(value='B') B
                         option(value='X') X
                         option(value='Y') Y
                         option(value='Z') Z
                         option(value='K') K
                         option(value='L') L
                         option(value='M') M
                         option(value='N') N
                         option(value='T') T
             .form-group
                 label To
                     select.form-control(name='to')
                         option(value='A') A
                         option(value='B' , selected="true") B
                         option(value='X') X
                         option(value='Y') Y
                         option(value='Z') Z
                         option(value='K') K
                         option(value='L') L
                         option(value='M') M
                         option(value='N') N
                         option(value='T') T
             .form-group
                 label Algorithm
                     select.form-control(name='algorithm')
                         option(value='BFS') Breadth First Search
                         option(value='UCS') Uniform Cost Search
                         option(value='ASTAR') A* Search
                         option(value='GBS') Greedy Best-First Search
             button.btn.btn-success(type='submit') HYPE!

      .col-lg-6
          h2 Results
          p Path :
              b(id='resultpath') #{path}
          p Cost:
              b= title
          p Algoritm:
              b= algorithm
          img(src="../images/map.png")
          img(src="../images/pathAZ.png",style="margin-left: -201px;margin-top: -378px;visibility: hidden;",id="AZ")
          img(src="../images/pathAX.png",style="margin-left: -244px;margin-top: -353px;visibility: hidden;",id="AX")
          img(src="../images/pathAY.png",style="margin-left: -68px;margin-top: -323px;visibility: hidden;",id="AY")
          img(src="../images/pathKL.png",style="margin-left: -278px;margin-top: 27px;visibility: hidden;",id="KL")
          img(src="../images/pathLB.png",style="margin-left: -64px;margin-top: 290px;visibility: hidden;",id="LB")
          img(src="../images/pathLM.png",style="margin-left: -285px;margin-top: 167px;visibility: hidden;",id="LM")
          img(src="../images/pathMB.png",style="margin-left: -120px;margin-top: 308px;visibility: hidden;",id="MB")
          img(src="../images/pathMT.png",style="margin-left: -246px;margin-top: 205px;visibility: hidden;",id="MT")
          img(src="../images/pathNT.png",style="margin-left: -71px;margin-top: 123px;visibility: hidden;",id="NT")
          img(src="../images/pathTB.png",style="margin-left: -165px;margin-top: 326px;visibility: hidden;",id="TB")
          img(src="../images/pathXK.png",style="margin-left: -352px;margin-top: -185px;visibility: hidden;",id="XK")
          img(src="../images/pathXY.png",style="margin-left: -72px;margin-top: -265px;visibility: hidden;",id="XY")
          img(src="../images/pathYL.png",style="margin-left: -186px;margin-top: -58px;visibility: hidden;",id="YL")
          img(src="../images/pathYM.png",style="margin-left: -74px;margin-top: -38px;visibility: hidden;",id="YM")
          img(src="../images/pathYN.png",style="margin-left: -69px;margin-top: -95px;visibility: hidden;",id="YN")
          img(src="../images/pathZN.png",style="margin-left: -101px;margin-top: -189px;visibility: hidden;",id="ZN")
          script.
              function drawLine() {
                  var path = document.getElementById('resultpath').innerHTML;
                  var paths = path.split(',');
                  for(var i=1;i<paths.length;i++){
                        showImage(paths[i].toString());
                        showImage(paths[i].split('').reverse().join(''));
                      console.log(paths[i].toString());
                  }

              }
              function showImage(id){
                  console.log(id);
                  var img = document.getElementById(id);
                  if(img !== null){img.style.visibility = 'visible';}
              }

              window.onload = drawLine();





